@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    /* background-color: black;
    color: white; */
    box-sizing: border-box;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
  }
  
input, textarea{
    background-color: rgb(194, 202, 209);
    color: black !important;
}

select{
    background-color: rgb(194, 202, 209);
}